*{
  margin: 0;
  padding: 0;
}
.error-msg {
  /* 错误提示信息 */
  color: red;
  text-align: center;
  font-size: 18px;
}

/* 使导航位于底部 */
.am-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: inherit;
  /* 高度为包裹内容，被内容撑开 */
}

/* 使NavBar固定在顶部 */
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/*消息文本居右*/
#chat-page .chat-me .am-list-extra {
  flex-basis: auto;
  /*宽度包裹内容*/
}

#chat-page .chat-me .am-list-content {
  padding-right: 15px;
  text-align: right;
}

.chat-me .adm-list-item-content-main{
  text-align: right;
}

.adm-nav-bar{
  background-color: #1677ff;
  color: white;
}
